body { 
  font-family: 'Roboto';
}
  :root{ 
  --color-black: #212121;
  --color-black-secondary: #2F303A;
  --color-black-logo: #000000;  
  --color-blue: #2196F3;
  --color-blue-secondary: #188CE8; 
  --color-grey: #757575;
 --color-white: #FFFFFF;
  --color-primary: #EEEEEE;
--color-white-secondary: #F5F4FA;}
ul {list-style: none;}
/* header */
a { text-decoration: none;}
/* logo */ 
.logo{ font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.9;
letter-spacing: 0.03em;
color: var(--color-blue-secondary);
}
.studio-logo{ font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.9;
letter-spacing: 0.03em;
color: var(--color-black-secondary);
}
/* navigation */
.nav-studio {
  font-family:'Roboto'; 
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-black)
}
.current{
  color: var(--color-blue);
}

.nav-studio:hover{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-blue);
}

.nav-portfolio { 
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-black)}
.nav-portfolio:hover{
  color: var(--color-blue);
}
.current {
color: var(--color-blue);
}
.nav-contact{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-black)
}
.nav-contact:hover { color: var(--color-blue);
}
.header-mail {
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-grey);
}
.header-mail:hover{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--color-blue);
}

.header-phone {
  font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-grey);
}
.header-phone:hover{
  color: var(--color-blue);
}
/* main section1 */
.main-section {background: var(--color-black-secondary);
}
.main-section-title{
font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--color-white);
}
.main-section-button{
background: var(--color-blue);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
color: var(--color-white);
}
.main-section-button:focus{ 
background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main-section-button:hover{ 
cursor: pointer;
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
/* main-qualities */

.visually-hidden { 
position: absolute;
white-space: nowrap; 
width: 1px; height: 1px; 
overflow: hidden; 
border: 0; padding: 0; 
clip: rect(0 0 0 ); 
clip-path: inset(50%); margin: -1px;
}
.main-qualities-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-black);
}
.main-qualities-discription {
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--color-grey);
}

.what-doing-title {
font-family:'Roboto' ;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-black)
}
.our-time {background: var(--color-white-secondary);
}
.our-time-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-black)
}
.our-time-name {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.12;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-black)
}
.our-time-position {
font-family: 'Roboto';
font-style: ;
font-weight: 400;
font-size: 16px;
line-height: 1.12;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-grey);
}
.our-time-card{
background: var(--color-white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
/* footer */
.footer {background: var(--color-black-secondary);
}
.studio-footer {
color: var(--color-white);
}
.footer-mail{
font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover{ color: var(--color-blue);}
.footer-tel{
font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover{ color: var(--color-blue);}
.footer-adress {
font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.footer-adress:hover{ 
  color: var(--color-blue);
}

/* portfolio filter*/
.portfolio-filter-all{
font-family: inherit;
font-style: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-black);
background-color: var(--color-white-secondary);
}
.portfolio-filter-all:hover{ 
  cursor: pointer;
color: var(--color-white);
background: var(--color-blue);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.portfolio-filter-all:focus{color: var(--color-white);
background: var(--color-blue);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;}
.portfolio-filter-web{
font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  background-color: var(--color-white-secondary);
}
.portfolio-filter-web:hover{
  cursor: pointer;
color: var(--color-white);
background: var(--color-blue);
border-radius: 4px;}
.portfolio-filter-web:focus {
color: var(--color-white);
background: var(--color-blue);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.portfolio-filter-appendix{
font-family: inherit;
font-style: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-black);
background-color: var(--color-white-secondary);
}
.portfolio-filter-appendix:hover{
  cursor: pointer; 
color: var(--color-white);
background: var(--color-blue);
border-radius: 4px;
}
.portfolio-filter-appendix:focus {
color: var(--color-white);
background: var(--color-blue);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.portfolio-filter-design{
font-family: inherit;
font-style: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-black);
background-color: var(--color-white-secondary);
}
.portfolio-filter-design:hover{
  cursor: pointer;
color: var(--color-white);
background: var(--color-blue);
border-radius: 4px;
}
.portfolio-filter-design:focus {
color: var(--color-white);
background: var(--color-blue);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.portfolio-filter-marketing{
  font-family: inherit;
font-style: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-black);
background-color: var(--color-white-secondary);
}

.portfolio-filter-marketing:hover{
  cursor: pointer;
color: var(--color-white);
  background: var(--color-blue);
border-radius: 4px;}
.portfolio-filter-marketing:focus {
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* portfolio group */
/* group */
.portfolio-group{
background: var(--color-white);
border: 1px solid var(--color-primary);
}
.portfolio-group-title{
font-family: 'Roboto';
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-black);
}
.portfolio-group-p{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: var(--color-grey);
}

