body {
  font-family: "Roboto";
}
*,
*::before,
*::after {
}

:root {
  --color-black: #212121;
  --color-black-secondary: #2f303a;
  --color-black-logo: #000000;
  --color-blue: #2196f3;
  --color-blue-secondary: #188ce8;
  --color-grey: #757575;
  --color-white: #ffffff;
  --color-primary: #eeeeee;
  --color-white-secondary: #f5f4fa;
  --color-border: #ececec;
}
ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}

p {
  margin: 0px;
}

/* header */

a {
  text-decoration: none;
}
/* logo */
.header {
  border-bottom: solid 1px var(--color-border);
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.container-header {
  align-items: center;
  display: flex;
}
.navigation {
  display: flex;
}
.menu-header {
  margin-right: 344px;
  display: flex;
  align-items: center;
  padding: 32px 0 32px 0;
}
.contacts-header {
  display: flex;
  align-items: center;
  padding-right: 32px 15px 32px 0;
}

.logo-header {
  box-sizing: 145px 31px;
  padding: 24px 93px 25px 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-blue-secondary);
}
.studio-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-black-secondary);
}
/* navigation */
.nav-studio {
  padding-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-black);
}
.current {
  color: var(--color-blue);
}

.nav-studio:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-blue);
}

.nav-portfolio {
  padding-right: 50px;
}

.nav-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-black);
}
.nav-portfolio:hover {
  color: var(--color-blue);
}
.current {
  color: var(--color-blue);
}
.nav-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-black);
}
.nav-contact:hover {
  color: var(--color-blue);
}

.header-mail {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

.header-mail:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-blue);
}

.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.header-phone:hover {
  color: var(--color-blue);
}
/* main section1 */
.main-section {
  background-color: var(--color-black-secondary);
  margin-bottom: 94px;
}

.main-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 696px;
}

.main-section-title {
  padding-top: 200px;
  padding-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
}
.main-section-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  width: 216px;
  height: 50px;
  padding: 10px;
  text-decoration: none;
  background-color: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: var(--color-white);
}
.main-section-button:focus {
  background-color: var(--color-blue-secondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main-section-button:hover {
  cursor: pointer;
  background-color: var(--color-blue-secondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* main-qualities */
.container-qualities {
  margin-bottom: 94px;
}

.qualities {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.qualities-box {
  width: 270px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.main-qualities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-black);
  margin: 0px;
}
.main-qualities-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
/* what-doing */
.what-doing-list {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
}
.what-doing-box1 {
  padding-left: 15px;
  max-width: 100%;
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
}
.what-doing-box2 {
  max-width: 100%;
  background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-
  working-interface-mobile-phones_8119-2713.jpg);
}
.what-doing-box3 {
  max-width: 100%;
  background: url(creative-artist-web-design-with-
  working-colour-selection-graphic-tablet_35674-1119.jpg);
}
.what-doing-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
}
/* our-time */
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container-our-time {
}

.time-box {
  padding-bottom: 94px;
  display: flex;
}

.our-time {
  background: var(--color-white-secondary);
}
.our-time-title {
  padding-top: 94px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
}
.time-description {
  padding: 30px;
}
.our-time-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--color-black);
  text-align: center;
  margin-bottom: 10px;
}
.our-time-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: var(--color-grey);
  text-align: center;
}

.our-time-card1 {
  margin-left: 15px;
  background-color: var(--color-white);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: url(4853.jpg);
  border-radius: 0px;
}
.our-time-card2 {
  margin-right: 30px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: url(5844);
  border-radius: 0px;
}
.our-time-card3 {
  margin-right: 30px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: url(16166.jpg);
  border-radius: 0px;
}
.our-time-card4 {
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: url(2968);
  border-radius: 0px;
}
/* footer */
.container-footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer {
  background-color: var(--color-black-secondary);
}
.studio-footer {
  color: var(--color-white);
}
.footer-mail {
  padding-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover {
  color: var(--color-blue);
}
.footer-tel {
  padding-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover {
  color: var(--color-blue);
}
.logo-footer-box{

}

.logo-footer {
  padding-left: 15px;
  width: 145px;
  height: 31px;
  
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-blue-secondary);
}
.footer-address {
  margin-bottom: 60px;
  width: 231px;
  height: 81px;
  padding-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.footer-address:hover {
  color: var(--color-blue);
}

/* portfolio filter*/

.portfolio-container {
  padding-top: 94px;
}
.filters {
  justify-content: center;
  gap: 8px;
  display: flex;
}
.portfolio-filter-all {
  border-color: transparent;
  width: 73px;
  height: 38px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  background-color: var(--color-white-secondary);
}
.portfolio-filter-all:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-filter-all:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-filter-web {
  border-color: transparent;
  width: 125px;
  height: 38px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  background-color: var(--color-white-secondary);
}
.portfolio-filter-web:hover {
  cursor: pointer;
  color: var(--color-white);
  background: var(--color-blue);
  border-radius: 4px;
}
.portfolio-filter-web:focus {
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-filter-appendix {
  border-color: transparent;
  width: 112px;
  height: 38px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  background-color: var(--color-white-secondary);
}
.portfolio-filter-appendix:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 4px;
}
.portfolio-filter-appendix:focus {
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-filter-design {
  border-color: transparent;
  width: 103px;
  height: 38px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  background-color: var(--color-white-secondary);
}
.portfolio-filter-design:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 4px;
}
.portfolio-filter-design:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-filter-marketing {
  border-color: transparent;
  width: 130px;
  height: 38px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  background-color: var(--color-white-secondary);
}

.portfolio-filter-marketing:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 4px;
}
.portfolio-filter-marketing:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* portfolio card */
.portfolio-card {
  padding-top: 34px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
}
.group-item {
  padding-left: 24px;
  padding-top: 20px;
}

.portfolio-group-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-black);
}
.portfolio-group-p {
  margin-top: 4px;
  font-size: 16px;
  padding-bottom: 20px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
.portfolio-group1 {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  background: url(portfolio1.jpg);
}
.portfolio-group2 {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  background: url(portfolio2.jpg);
}
.portfolio-group3 {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  background: url(portfolio-1.jpg);
}
.portfolio-group4 {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  background: url(portfolio-2);
}
.portfolio-group5 {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  background: url(portfolio5);
}
.portfolio-group6 {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  background: url(111);
}
.portfolio-group7 {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  background: url(portfolio7);
}
.portfolio-group8 {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  background: url(portfolio8.jpg);
}
.portfolio-group9 {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  background: url(2910404);
}
